body{
    padding: 0% 10% 0% 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EEEEEE;
}
h1{
    font-size: 36px;
    padding: 50px 0px 50px 0px;
    text-align: center;
}
.item{
    margin: 0px 0px 0px 25px;
    font-family: 'Times New Roman', Times, serif;
}
td{
    padding: 20px;
}